.content {
  display: flex;
}

#contacts {
  width: 480px;
}

#chat {
  background-image: url("/assets/images/bg01.png");
  width: 100%;
  height: 100vh;
}

#chat-content {
  overflow-x: auto;
}

.my-chat-balloon {
  width: 80%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
              0 1px 1px 0 rgba(0, 0, 0, 0.14),
              0 1px 3px 0 rgba(0, 0, 0, 0.12);
  text-align: right;
  margin: 0 0 0 auto;

}

.contact-chat-balloon {
  width: 80%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
              0 1px 1px 0 rgba(0, 0, 0, 0.14),
              0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto 0 0;
}

.chat-balloon-time{
  opacity: .5;
}

.content-send {
  width: 100%;
}

.fake-toast {
  position: fixed; z-index: 1000; top: .3rem; left: 50%; margin-left: -160px;
  max-width: 320px; font-size: 12px; opacity: .8;
}
