<div class="content">
  <section id="contacts">
    <ul class="list-group">
      <li class="list-group-item" [class.active]="item.id === idDestinyComponent" *ngFor="let item of contacts"
        (click)="selectContact(item)">
        {{item.name}}
      </li>
    </ul>
  </section>
  <section id="chat" class="p-4">
    <div class="alert alert-warning mb-3" *ngIf="chat.length == 0">
      <div>Nenhuma mensagem para exibir<br> Selecione um contato</div>
    </div>
    <div class="alert mb-3" *ngFor="let msg of chat"
      [class.alert-primary]="msg.idOrigin == idOriginComponent"
      [class.my-chat-balloon]="msg.idOrigin == idOriginComponent"
      [class.alert-secondary]="msg.idOrigin == idDestinyComponent"
      [class.contact-chat-balloon]="msg.idOrigin == idDestinyComponent" role="alert">
      <div>{{ msg.description }}</div>
      <small class="chat-balloon-time">{{ msg.hour }}</small>
    </div>

    <div class="card content-send">
      <div class="d-flex p-4">
        <div class="col me-3">
          <input type="text" name="message" class="form-control form-control-lg" [(ngModel)]="message">
        </div>
        <div class="col-auto">
        <button class="btn btn-primary btn-lg" (click)="send()"><i class="bi bi-cursor-fill"></i></button>
        </div>
      </div>
    </div>
  </section>

</div>
